@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Source Code Pro", monospace;
  }
  html {
    overflow-x: hidden;
  }
}
.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
